<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceLocation</key>
			<string>http://abarrera.webfactional.com/menu.json</string>
			<key>Parameters</key>
			<dict>
				<key>app</key>
				<string>app</string>
				<key>loc</key>
				<string>localize</string>
			</dict>
			<key>OutputClass</key>
			<string>Menu</string>
			<key>Outputs</key>
			<array>
				<dict>
					<key>local</key>
					<string>title</string>
					<key>remote</key>
					<string>title</string>
				</dict>
				<dict>
					<key>local</key>
					<string>imageURL</string>
					<key>remote</key>
					<string>imageURL</string>
				</dict>
				<dict>
					<key>local</key>
					<string>linkURL</string>
					<key>remote</key>
					<string>linkURL</string>
				</dict>
				<dict>
					<key>local</key>
					<string>idMenu</string>
					<key>remote</key>
					<string>id</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ServiceLocation</key>
			<string>http://abarrera.webfactional.com/region.json</string>
			<key>Parameters</key>
			<dict>
				<key>app</key>
				<string>app</string>
			</dict>
			<key>OutputClass</key>
			<string>State</string>
			<key>Outputs</key>
			<array>
				<dict>
					<key>local</key>
					<string>codState</string>
					<key>remote</key>
					<string>id</string>
				</dict>
				<dict>
					<key>local</key>
					<string>name</string>
					<key>remote</key>
					<string>name</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ServiceLocation</key>
			<string>http://abarrera.webfactional.com/comuna.json</string>
			<key>Parameters</key>
			<dict>
				<key>app</key>
				<string>app</string>
				<key>state</key>
				<string>codregion</string>
			</dict>
			<key>OutputClass</key>
			<string>Town</string>
			<key>Outputs</key>
			<array>
				<dict>
					<key>local</key>
					<string>codTown</string>
					<key>remote</key>
					<string>id</string>
				</dict>
				<dict>
					<key>local</key>
					<string>name</string>
					<key>remote</key>
					<string>name</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ServiceLocation</key>
			<string>http://abarrera.webfactional.com/local.json</string>
			<key>Parameters</key>
			<dict>
				<key>app</key>
				<string>app</string>
				<key>state</key>
				<string>codregion</string>
			</dict>
			<key>OutputClass</key>
			<string>Store</string>
			<key>Outputs</key>
			<array>
				<dict>
					<key>local</key>
					<string>idStore</string>
					<key>remote</key>
					<string>LocalId</string>
				</dict>
				<dict>
					<key>local</key>
					<string>townName</string>
					<key>remote</key>
					<string>comuna</string>
				</dict>
				<dict>
					<key>local</key>
					<string>codTown</string>
					<key>remote</key>
					<string>codComuna</string>
				</dict>
				<dict>
					<key>local</key>
					<string>className</string>
					<key>remote</key>
					<string>clasificacion</string>
				</dict>
				<dict>
					<key>local</key>
					<string>imageURL</string>
					<key>remote</key>
					<string>imagen</string>
				</dict>
				<dict>
					<key>local</key>
					<string>address</string>
					<key>remote</key>
					<string>direccion</string>
				</dict>
				<dict>
					<key>local</key>
					<string>latitude</string>
					<key>remote</key>
					<string>latitud</string>
				</dict>
				<dict>
					<key>local</key>
					<string>longitude</string>
					<key>remote</key>
					<string>longitud</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
